body{
    margin: 0;
    overflow-x: hidden;
}

section{
    margin: 65px;
}
header{
    margin: 0;
    background-color: #FF0505;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    
}
h1{
    font-family: 'Neue', sans-serif;
    margin-bottom: -5px;
    margin-top: 40px;
    margin-left: 85px;
    color: white;
    font-size: 200px;
}

header h2{
    color: white;
    font-size: 50px;
    margin-left: 85px;
    margin-top: -20px;
    font-family: 'Neue', sans-serif;
    font-weight: 75;
    margin-top: 30px;
}

.bar{
    background-color: white;
    width: 550px;
    height: 5px;
    margin: 0%;
}

nav{
    margin-top: 70px;
    margin-bottom: 50px;
}

nav ul li{
    list-style: none;
    margin: 15px;
    display: flex;
    justify-content: end;
}

nav ul li a{
    font-family: 'Neue', sans-serif;
    font-weight: 75;
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: end;
    font-size: 24px;
}

nav ul li a:hover, nav ul li a:active{
    color: black;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.search img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.search input {
    opacity: 0;
    width: 0;
    transition: 550ms;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 10px;
    background: #DEDEDE;
}

.search input:focus {
    opacity: 1;
    width: 150px;
    outline: 0;
}

.langue{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.langue img{
    width: 30px;
    height: 30px;
}

.icon-mobile{
    display: none;
}
@media (max-width: 600px) {
    
    h1{
    font-size: 70px;
    
    }
    header h2{
        font-size: 20px;
    }
    .bar2{
        height: 2px;
        background-color: white;
        width: 190px;
    }
    .logo {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
    }
    .menu{
        display: none;
    }
    header {
        width: 100%;
        height: 400px;
        padding-top: 70px;
    }
    .icon-mobile img{
        width: 26px;
        height: 26px;
    }
    .icon-mobile{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    }

}

